*.metadata*
jdt.ls-java-project
examples/java/*.project
examples/java/target
examples/java/.settings
examples/java/.classpath
examples/java/.project
org.eclipse.core*
org.eclipse.osgi*
org.eclipse.equinox*
