.vscode
.idea
.settings/
.classpath
.project
target/
*.metadata*
jdt.ls-java-project
examples/java/*.project
examples/python/.venv
examples/python/__pycache__
org.eclipse.core*
org.eclipse.osgi*
org.eclipse.equinox*
provider_settings.json
konveyor-analyzer
konveyor-analyzer-dep
go.work
go.work.sum

external-providers/generic-external-provider/generic-external-provider
external-providers/golang-dependency-provider/golang-dependency-provider
external-providers/generic-external-provider/debug/
