.vscode
.idea
.settings/
.classpath
.project
target/
*.metadata*
jdt.ls-java-project
examples/java/*.project
examples/python/.venv
examples/python/__pycache__
org.eclipse.core*
org.eclipse.osgi*
org.eclipse.equinox*
provider_settings.json
build/
konveyor-analyzer
konveyor-analyzer-dep
go.work
go.work.sum
*.exe

external-providers/generic-external-provider/generic-external-provider
external-providers/golang-dependency-provider/golang-dependency-provider
external-providers/generic-external-provider/debug/
external-providers/dotnet-external-provider/bin/*
external-providers/dotnet-external-provider/examples/HelloWorld/HelloWorld/bin/*
external-providers/dotnet-external-provider/examples/HelloWorld/HelloWorld/obj/*
external-providers/java-external-provider/pkg/java_external_provider/dependency/testdata/maven-index.idx
external-providers/java-external-provider/pkg/java_external_provider/dependency/testdata/maven-index.txt
