[
    {
        "name": "go",
        "address": "localhost:17902",
        "initConfig": [{
            "location": "/analyzer-lsp/examples/golang",
            "providerSpecificConfig": {
                "lspServerPath": "/usr/local/bin/gopls"
            }
        }]
    },
    {
        "name": "java",
        "binaryPath": "/jdtls/bin/jdtls",
        "initConfig": [{
            "location": "examples/java",
            "providerSpecificConfig": {
                "bundles": "/jdtls/java-analyzer-bundle/java-analyzer-bundle.core/target/java-analyzer-bundle.core-1.0.0-SNAPSHOT.jar",
                "lspServerPath": "/jdtls/bin/jdtls"
            }
        }]
    }
]
