[
    {
        "name": "go",
        "location": "examples/golang",
        "binaryLocation": "/usr/bin/gopls"
    },
    {
        "name": "java",
        "location": "examples/java",
        "binaryLocation": "java-lang-server/org.eclipse.jdt.ls.product/target/repository/bin/jdtls",
        "providerSpecificConfig": {
            "bundles": "java-rule-addon/java-rule-addon.core/target/java-rule-addon.core-1.0.0-SNAPSHOT.jar"
        }
    }
]
