name: Demo Testing

on: ["push", "pull_request"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: build image
        run: podman build -t quay.io/konveyor/analyzer-lsp:latest .

      - name: build demo image
        run: podman build -f demo.Dockerfile -t localhost/testing:latest

      - name: install yq for testing
        run: go install github.com/mikefarah/yq/v4@latest

      - name: run demo image and ensure violations output unchanged
        run: |
          podman run -v $(pwd)/demo-output.yaml:/analyzer-lsp/output.yaml:Z localhost/testing:latest
          diff \
            <(yq -P 'sort_keys(..)' -o=props <(git show HEAD:demo-output.yaml)) \
            <(yq -P 'sort_keys(..)' -o=props <(cat demo-output.yaml))

      - name: run demo image and ensure dependency output unchanged
        run: |
          podman run --entrypoint /usr/bin/konveyor-analyzer-dep -v $(pwd)/demo-dep-output.yaml:/analyzer-lsp/demo-dep-output.yaml:Z localhost/testing:latest --output-file=demo-dep-output.yaml
          podman run -v $(pwd)/demo-output.yaml:/analyzer-lsp/output.yaml:Z localhost/testing:latest
          diff \
            <(yq -P 'sort_keys(..)' -o=props <(git show HEAD:demo-dep-output.yaml)) \
            <(yq -P 'sort_keys(..)' -o=props <(cat demo-dep-output.yaml))

      - name: save image
        run: |
          podman save -o /tmp/analyzer-lsp.tar quay.io/konveyor/analyzer-lsp:latest

      - name: Upload image as artifact
        uses: actions/upload-artifact@v3
        with:
          name: analyzer-lsp
          path: /tmp/analyzer-lsp.tar
          retention-days: 1

  e2e:
    needs: test
    uses: konveyor/ci/.github/workflows/global-ci.yml@main
    with:
      component_name: analyzer-lsp
