name: Demo Testing

on:
  pull_request:
  push:
    branches:
    - "main"
    - "release-*"
    - "v*"

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      java: ${{ steps.filter.outputs.java }}
      generic: ${{ steps.filter.outputs.generic }}
      yq: ${{ steps.filter.outputs.yq}}
      c-sharp: ${{ steps.filter.outputs.c-sharp }}
    steps:
      - uses: actions/checkout@v3

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            java:
              - '**'
              - '!external-providers/**'
              - 'external-providers/java-external-provider/**'
            generic:
              - '**'
              - '!external-providers/**'
              - 'external-providers/generic-external-provider/**'
            yq:
              - '**'
              - '!external-providers/**'
              - 'external-providers/yq-external-provider/**'
            c-sharp:
              - '**'
              - '!external-providers/**'

  build-images:
    name: Build e2e Images
    uses: shawn-hurley/ci/.github/workflows/e2e-image-build.yaml@main
    with:
      repo: ${{ github.repository }}
      ref: ${{ github.ref }}

  provider-tests:
    needs: [detect-changes, build-images]
    runs-on: ubuntu-latest
    env:
      TAG: ${{ github.run_id }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - provider: java
            artifact_pattern: "*{analyzer-lsp,java-external-provider}"
            test-data: external-providers/java-external-provider/examples
            image_env: IMG_JAVA_PROVIDER
            demo-output-path: external-providers/java-external-provider/e2e-tests/demo-output.yaml
            provider_settings-path: external-providers/java-external-provider/e2e-tests/provider_settings.json
            testing-rules: external-providers/java-external-provider/e2e-tests/rule-example.yaml
            # Generic golang
          - provider: generic
            artifact_pattern: "*{analyzer-lsp,generic-external-provider}"
            test-data: examples
            image_env: IMG_GENERIC_PROVIDER
            demo-output-path: external-providers/generic-external-provider/e2e-tests/golang-e2e/demo-output.yaml
            provider_settings-path: external-providers/generic-external-provider/e2e-tests/golang-e2e/provider_settings.json
            testing-rules: external-providers/generic-external-provider/e2e-tests/golang-e2e/rule-example.yaml
            # Generic python
          - provider: generic
            artifact_pattern: "*{analyzer-lsp,generic-external-provider}"
            test-data: examples
            image_env: IMG_GENERIC_PROVIDER
            demo-output-path: external-providers/generic-external-provider/e2e-tests/python-e2e/demo-output.yaml
            provider_settings-path: external-providers/generic-external-provider/e2e-tests/python-e2e/provider_settings.json
            testing-rules: external-providers/generic-external-provider/e2e-tests/python-e2e/rule-example.yaml
            # Generic nodejs
          - provider: generic
            artifact_pattern: "*{analyzer-lsp,generic-external-provider}"
            test-data: examples
            image_env: IMG_GENERIC_PROVIDER
            demo-output-path: external-providers/generic-external-provider/e2e-tests/nodejs-e2e/demo-output.yaml
            provider_settings-path: external-providers/generic-external-provider/e2e-tests/nodejs-e2e/provider_settings.json
            testing-rules: external-providers/generic-external-provider/e2e-tests/nodejs-e2e/rule-example.yaml
          - provider: yq
            artifact_pattern: "*{analyzer-lsp,yq-external-provider}"
            test-data: examples
            image_env: IMG_YQ_PROVIDER
            demo-output-path: external-providers/yq-external-provider/e2e-tests/demo-output.yaml
            provider_settings-path: external-providers/yq-external-provider/e2e-tests/provider_settings.json
            testing-rules: external-providers/yq-external-provider/e2e-tests/rule-example.yaml
          - provider: c-sharp
            repo: "konveyor/c-sharp-analyzer-provider"
            artifact_pattern: "*analyzer-lsp"
            nightly_pattern: "*c-sharp-provider"
            test-data: testdata
            image_env: IMG_C_SHARP_PROVIDER 
            demo-output-path: e2e-tests/demo-output.yaml
            provider_settings-path: e2e-tests/provider_settings.json
            testing-rules: rulesets
    steps:
      - uses: actions/checkout@v3
        with:
          repository: ${{ matrix.repo || 'konveyor/analyzer-lsp' }}
        if: needs.detect-changes.outputs[matrix.provider] == 'true'

      - name: Download provider image artifacts
        if: needs.detect-changes.outputs[matrix.provider] == 'true'
        uses: actions/download-artifact@v4
        with:
          pattern: ${{ format('{0}--{1}', matrix.artifact_pattern, github.run_id) }}
          path: /tmp/images
          merge-multiple: true
      
      - name: Get nightly if needed
        if: needs.detect-changes.outputs[matrix.provider] == 'true' && matrix.nightly_pattern
        env:
          GH_TOKEN: ${{ github.token }}
        shell: bash
        run: |
          WORKFLOW_RUN=$(gh run list -R=konveyor/ci --workflow=nightly-koncur.yaml --branch=main --status=success --limit=1 --json databaseId --jq '.[0].databaseId')
          gh run download -R=konveyor/ci "$WORKFLOW_RUN" --pattern "${{ matrix.nightly_pattern }}--*_20[0-9][0-9].[0-9][0-9].[0-9][0-9]" --dir /tmp/images 

      - name: Load images into podman
        if: needs.detect-changes.outputs[matrix.provider] == 'true'
        run: |
          java_provider_image_regex=".*java(-external)?-provider.*"
          generic_provider_image_regex=".*generic(-external)?-provider.*"
          yq_provider_image_regex=".*yq-external-provider.*"
          analyzer_regex=".*analyzer-lsp.*"
          c_sharp_provider_image_regex=".*c-sharp-provider.*"

          for image in $(find /tmp/images -type f -name "*.tar"); do
            echo "Loading image: ${image}"
            image=$(podman load -i "${image}" | awk '{print $NF}')
            
            if [[ "$image" =~ $java_provider_image_regex ]]; then
              echo "Java Provider Image Found Set Env Var: JAVA_PROVIDER_IMG=$image"
              echo "IMG_JAVA_PROVIDER=$image" >> $GITHUB_ENV
            fi
            if [[ "$image" =~ $c_sharp_provider_image_regex ]]; then
              echo "Java Provider Image Found Set Env Var: IMG_C_SHARP_PROVIDER=$image"
              echo "IMG_C_SHARP_PROVIDER=$image" >> $GITHUB_ENV
            fi
            if [[ "$image" =~ $analyzer_regex ]]; then
              echo "Analyzer image  Found Set Env Var: IMG_ANALYZER=$image"
              echo "IMG_ANALYZER=$image" >> $GITHUB_ENV
            fi
            if [[ "$image" =~ $generic_provider_image_regex ]]; then
              echo "Generic Provider Image Found Set Env Var: GENERIC_PROVIDER_IMG=$image"
              echo "IMG_GENERIC_PROVIDER=$image" >> $GITHUB_ENV
            fi
            if [[ "$image" =~ $yq_provider_image_regex ]]; then
              echo "Generic Provider Image Found Set Env Var: IMG_YQ_PROVIDER=$image"
              echo "IMG_YQ_PROVIDER=$image" >> $GITHUB_ENV
            fi
          done
          echo "Loaded images:"
          podman images
          rm -rf /tmp/images

      - name: Run provider-specific test
        if: needs.detect-changes.outputs[matrix.provider] == 'true'
        run: |
          podman volume create test-data
          podman run --rm -v test-data:/target:U,Z -v $(pwd)/${{ matrix.test-data }}:/src/:U,Z --entrypoint=cp alpine -a /src/. /target/
          podman pod create --name=analyzer-${{ matrix.provider }}
          podman run --pod analyzer-${{ matrix.provider }} --name ${{ matrix.provider }}-provider -d -v test-data:/analyzer-lsp/examples:U,Z $${{ matrix.image_env}} --port 14651
          podman run --entrypoint /usr/local/bin/konveyor-analyzer --pod=analyzer-${{ matrix.provider }} \
            -v test-data:/analyzer-lsp/examples:U,Z \
            -v $(pwd)/${{ matrix.demo-output-path }}:/analyzer-lsp/output.yaml:U,Z \
            -v $(pwd)/${{ matrix.provider_settings-path }}:/analyzer-lsp/provider_settings.json:U,Z \
            -v $(pwd)/${{ matrix.testing-rules }}:/analyzer-lsp/rules:U,Z \
            $IMG_ANALYZER \
            --output-file=/analyzer-lsp/output.yaml \
            --rules=/analyzer-lsp/rules \
            --provider-settings=/analyzer-lsp/provider_settings.json \
            --dep-label-selector='!konveyor.io/dep-source=open-source'

      - name: Run e2e verification
        if: needs.detect-changes.outputs[matrix.provider] == 'true'
        shell: bash
        run: |
          git diff --exit-code HEAD -- ${{ matrix.demo-output-path }}


  test:
    needs: [detect-changes, build-images, provider-tests]
    runs-on: ubuntu-latest
    env:
      TAG: ${{ github.run_id }}
    outputs:
      api_tests_ref: ${{ steps.extract-info.outputs.API_TESTS_REF }}
      tackle2_hub_tag: ${{ steps.extract-info.outputs.TACKLE2_HUB_TAG }}
    steps:
      - name: Extract pull request number from inputs or PR description
        id: extract-info
        env:
          PULL_REQUEST_BODY: ${{ github.event.pull_request.body }}
        run: |
          echo "BUILD_BUNDLE=false" >> $GITHUB_OUTPUT
          # if this is a PR, we should use the base branch
          # else, use the branch on which this is running
          if [ ! -z ${GITHUB_BASE_REF} ]; then
              echo "Using ${GITHUB_BASE_REF}"
              echo "API_TESTS_REF=${GITHUB_BASE_REF}" >> $GITHUB_OUTPUT
              echo "ADDON_REF=${GITHUB_BASE_REF}" >>$GITHUB_OUTPUT
              echo "JAVA_BUNDLE_REF=${GITHUB_BASE_REF}" >>$GITHUB_OUTPUT
              echo "BUNDLE_IMAGE_TAG=${GITHUB_BASE_REF/main/latest}" >>$GITHUB_OUTPUT
              echo "TACKLE2_HUB_TAG=${GITHUB_BASE_REF/main/latest}" >> $GITHUB_OUTPUT
          else
              echo "Using ${GITHUB_REF_NAME}"
              echo "API_TESTS_REF=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
              echo "ADDON_REF=${GITHUB_REF_NAME}" >>$GITHUB_OUTPUT
              echo "JAVA_BUNDLE_REF=${GITHUB_REF_NAME}" >>$GITHUB_OUTPUT
              echo "BUNDLE_IMAGE_TAG=${GITHUB_REF_NAME/main/latest}" >>$GITHUB_OUTPUT
              echo "TACKLE2_HUB_TAG=${GITHUB_REF_NAME/main/latest}" >> $GITHUB_OUTPUT
          fi

          # override with explicitely set value in PR description
          echo "${PULL_REQUEST_BODY}"
          ADDON_PULL_REQUEST_NUMBER=$(echo "${PULL_REQUEST_BODY}" | grep -oP '[A|a]ddon [P|p][R|r]: \K\d+' || true)
          if [ ! -z "$ADDON_PULL_REQUEST_NUMBER" ]; then
            echo "Using pull/${ADDON_PULL_REQUEST_NUMBER} for addon"
            echo "ADDON_REF=refs/pull/$ADDON_PULL_REQUEST_NUMBER/merge" >>$GITHUB_OUTPUT
          fi

          JAVA_BUNDLE_PR_NUMBER=$(echo "${PULL_REQUEST_BODY}" | grep -oP '[B|b]undle [P|p][R|r]: \K\d+' || true)
          if [ ! -z "$JAVA_BUNDLE_PR_NUMBER" ]; then
            echo "Using bundle PR pull/${JAVA_BUNDLE_PR_NUMBER}"
            echo "JAVA_BUNDLE_REF=refs/pull/$JAVA_BUNDLE_PR_NUMBER/merge" >> $GITHUB_OUTPUT
            echo "BUILD_BUNDLE=true" >>$GITHUB_OUTPUT
            echo "BUNDLE_IMAGE_TAG=latest" >>$GITHUB_OUTPUT
          fi

      - uses: actions/checkout@v3

      - name: Download all provider image artifacts
        uses: actions/download-artifact@v4
        with:
          path: /tmp/images
          pattern: ${{ format('*--{0}', github.run_id) }}
          merge-multiple: true

      - name: Get nightly c-sharp provider
        env:
          GH_TOKEN: ${{ github.token }}
        shell: bash
        run: |
          WORKFLOW_RUN=$(gh run list -R=konveyor/ci --workflow=nightly-koncur.yaml --branch=main --status=success --limit=1 --json databaseId --jq '.[0].databaseId')
          gh run download -R=konveyor/ci "$WORKFLOW_RUN" --pattern "*c-sharp-provider--*_20[0-9][0-9].[0-9][0-9].[0-9][0-9]" --dir /tmp/images

      - name: Load images into podman
        run: |
          java_provider_image_regex=".*java(-external)?-provider.*"
          generic_provider_image_regex=".*generic(-external)?-provider.*"
          yq_provider_image_regex=".*yq-external-provider.*"
          analyzer_regex=".*analyzer-lsp.*"
          c_sharp_provider_image_regex=".*c-sharp-provider.*"

          for image in $(find /tmp/images -type f -name "*.tar"); do
            echo "Loading image: ${image}"
            image=$(podman load -i "${image}" | awk '{print $NF}')
            
            if [[ "$image" =~ $java_provider_image_regex ]]; then
              echo "Java Provider Image Found Set Env Var: IMG_JAVA_PROVIDER=$image"
              echo "IMG_JAVA_PROVIDER=$image" >> $GITHUB_ENV
            fi
            if [[ "$image" =~ $c_sharp_provider_image_regex ]]; then
              echo "C# Provider Image Found Set Env Var: IMG_C_SHARP_PROVIDER=$image"
              echo "IMG_C_SHARP_PROVIDER=$image" >> $GITHUB_ENV
            fi
            if [[ "$image" =~ $analyzer_regex ]]; then
              echo "Analyzer image Found Set Env Var: IMG_ANALYZER=$image"
              echo "IMG_ANALYZER=$image" >> $GITHUB_ENV
            fi
            if [[ "$image" =~ $generic_provider_image_regex ]]; then
              echo "Generic Provider Image Found Set Env Var: IMG_GENERIC_PROVIDER=$image"
              echo "IMG_GENERIC_PROVIDER=$image" >> $GITHUB_ENV
            fi
            if [[ "$image" =~ $yq_provider_image_regex ]]; then
              echo "YQ Provider Image Found Set Env Var: IMG_YQ_PROVIDER=$image"
              echo "IMG_YQ_PROVIDER=$image" >> $GITHUB_ENV
            fi
          done
          echo "Loaded images:"
          podman images
          rm -rf /tmp/images

      # run the demo in a podman pod
      - name: run demo image
        run : |
          make run-external-providers-pod
          make run-demo-image
      
      - name: install yq for testing
        run: go install github.com/mikefarah/yq/v4@latest

      - name: ensure violation and dependency outputs are unchanged
        run: |
          diff \
            <(yq -P 'sort_keys(..)' -o=props <(git show HEAD:demo-output.yaml)) \
            <(yq -P 'sort_keys(..)' -o=props <(cat demo-output.yaml))
          diff \
            <(yq -P 'sort_keys(..)' -o=props <(git show HEAD:demo-dep-output.yaml)) \
            <(yq -P 'sort_keys(..)' -o=props <(cat demo-dep-output.yaml))

      - name: Re-tag and push provider images to ttl.sh
        run: |
          podman tag $IMG_JAVA_PROVIDER ttl.sh/konveyor-java-external-provider-${{ github.sha }}:2h
          podman tag $IMG_GENERIC_PROVIDER ttl.sh/konveyor-generic-external-provider-${{ github.sha }}:2h
          podman push ttl.sh/konveyor-java-external-provider-${{ github.sha }}:2h
          podman push ttl.sh/konveyor-generic-external-provider-${{ github.sha }}:2h

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          repository: konveyor/tackle2-addon-analyzer
          ref: ${{ steps.extract-info.outputs.ADDON_REF }}
          path: tackle2-addon-analyzer

      - name: Build addon and push images
        working-directory: tackle2-addon-analyzer
        run: |
          sed -i "s,FROM quay.io/konveyor/analyzer-lsp\:latest,FROM $IMG_ANALYZER," Dockerfile
          IMG=ttl.sh/konveyor-tackle2-addon-analyzer-${GITHUB_SHA}:2h make image-podman
          podman push ttl.sh/konveyor-tackle2-addon-analyzer-${GITHUB_SHA}:2h
      
      - name: Make bundle image
        uses: konveyor/operator/.github/actions/make-bundle@main
        with:
          operator_bundle: ttl.sh/konveyor-operator-bundle-${{ github.sha}}:2h
          addon_analyzer: ttl.sh/konveyor-tackle2-addon-analyzer-${{ github.sha}}:2h
          tackle_hub: "quay.io/konveyor/tackle2-hub:${{ steps.extract-info.outputs.TACKLE2_HUB_TAG }}"
          provider_generic: ttl.sh/konveyor-generic-external-provider-${{ github.sha }}:2h
          provider_java: ttl.sh/konveyor-java-external-provider-${{ github.sha }}:2h
      - name: push bundle image 
        run: |
          docker push ttl.sh/konveyor-operator-bundle-${GITHUB_SHA}:2h

  koncur-kantra:
    needs: [test]
    strategy:
      fail-fast: false
      matrix:
        os:
          - os: "linux"
            runner: "ubuntu-24.04-arm"
          - os: "macos"
            runner: "macos-26-large"
          - os: "windows"
            runner: "windows-latest"
        exclude:
          - os: 
              os: "macos"
              runner: "macos-26-large"
    runs-on: ${{ matrix.os.runner }}
    steps:
      - name: Run Koncur Testing
        id: koncur-test
        uses: shawn-hurley/ci/koncur-kantra@main
        with:
          os: ${{ matrix.os.os }}
          image_pattern: |
            *{kantra,provider}--${{ github.run_id }}
          ref: ${{ github.base_ref || inputs.ref || github.ref_name}}


  koncur-tackle-hub:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - name: Test Hub with Koncur
        uses: shawn-hurley/ci/koncur-tackle-hub@main
        with:
          image_pattern: |
            *{tackle-keyloak-init,tackle2-*,provider}--${{ github.run_id }}
          ref: ${{ github.base_ref || inputs.ref || github.ref_name}}
  
  e2e:
    needs: test
    uses: konveyor/ci/.github/workflows/global-ci-bundle.yml@main
    with:
      operator_bundle: ttl.sh/konveyor-operator-bundle-${{ github.sha }}:2h
      tackle_hub: "quay.io/konveyor/tackle2-hub:${{ needs.test.outputs.tackle2_hub_tag }}"
      api_tests_ref: "${{ needs.test.outputs.api_tests_ref }}"
      
