name: Multiple Architecture Image Build

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
      - 'release-*'
    tags:
      - 'v*'

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

env:
  tag: ${{ github.ref == 'refs/heads/main' && 'latest' || github.ref_name }}

jobs:
  compute-deps-refs:
    runs-on: ubuntu-latest
    outputs:
      java-bundle-tag: ${{ steps.dep_tag.outputs.java_bundle_tag }}
    steps:
      - name: Determine image tags for dependencies
        id: dep_tag
        run: |
          echo "java_bundle_tag=${GITHUB_REF_NAME/main/latest}" >> $GITHUB_OUTPUT

  image-build:
    needs: compute-deps-refs
    strategy:
      fail-fast: false
      matrix:
        images: 
          - name: analyzer-lsp
            containerfile: "./Dockerfile"
            extra-args: "--build-arg JAVA_BUNDLE_TAG=${{ needs.compute-deps-refs.outputs.java-bundle-tag }}"
            context: "."
            architectures: '[ "amd64", "arm64" ]'
          - name: golang-dependency-provider
            containerfile: "./external-providers/golang-dependency-provider/Dockerfile"
            context: "."
            architectures: '[ "amd64", "arm64" ]'
          - name: yq-external-provider
            containerfile: "./external-providers/yq-external-provider/Dockerfile"
            context: "."
            architectures: '[ "amd64", "arm64" ]'
          - name: java-external-provider
            containerfile: "./external-providers/java-external-provider/Dockerfile"
            context: "."
            architectures: '[ "amd64", "arm64" ]'
            extra-args: "--build-arg JAVA_BUNDLE_TAG=${{ needs.compute-deps-refs.outputs.java-bundle-tag }}"

    uses: konveyor/release-tools/.github/workflows/build-push-images.yaml@main
    with:
      registry: "quay.io/konveyor"
      image_name: ${{ matrix.images.name }}
      containerfile: ${{ matrix.images.containerfile }}
      extra-args: ${{ matrix.images['extra-args'] || '' }}
      pre_build_cmd: ${{ matrix.images.pre_build_cmd }}
      architectures: ${{ matrix.images.architectures }}
      context: ${{ matrix.images.context }}
    secrets:
      registry_username: ${{ secrets.QUAY_PUBLISH_ROBOT }}
      registry_password: ${{ secrets.QUAY_PUBLISH_TOKEN }}
  
  # generic provider requires go dep provider we built in matrix and needs to be sequential
  generic-external-provider-build:
    needs: image-build
    env:
      TAG: ${{ github.ref == 'refs/heads/main' && 'latest' || github.ref_name }}
    uses: konveyor/release-tools/.github/workflows/build-push-images.yaml@main
    with:
      registry: "quay.io/konveyor"
      image_name: generic-external-provider
      containerfile: "./external-providers/generic-external-provider/Dockerfile"
      architectures: '[ "amd64", "arm64" ]'
      context: "."
      extra-args: "GOLANG_DEP_IMAGE=quay.io/konveyor/golang-dependency-provider:${{ env.TAG }}"
    secrets:
      registry_username: ${{ secrets.QUAY_PUBLISH_ROBOT }}
      registry_password: ${{ secrets.QUAY_PUBLISH_TOKEN }}  
    
  analyzer-windows-build:
    needs: image-build
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        registry: "quay.io/konveyor"
        username: ${{ secrets.QUAY_PUBLISH_ROBOT }}
        password: ${{ secrets.QUAY_PUBLISH_TOKEN }}
    - name: Docker Build
      shell: bash
      run: |
        TAG=${GITHUB_REF_NAME/main/latest}
        IMAGE_NAME=quay.io/konveyor/analyzer-lsp:${TAG}-windowsservercore-ltsc2025
        docker build -t ${IMAGE_NAME} -f ./Dockerfile.windows .
        docker push ${IMAGE_NAME}

