name: Testing Engine

on: ["push", "pull_request"]

jobs: 
  test:
    strategy:
      matrix:
        runs_on:
        - ubuntu-latest
        - macos-latest
    runs-on: ${{ matrix.runs_on }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.21'

      - name: Test
        run: go test -v ./...

